<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Headlines, Latest News, Economy, Politics and More | CityVOICE
        link(rel="icon", href="/logo.png", type="image/png")
        link(rel="stylesheet", href="/style.css")
        link(rel="stylesheet", href="/styleM.css")
        link(rel="stylesheet", href="/admin.css")
        script(defer, src="https://code.jquery.com/jquery-3.5.1.js")
        script(defer, src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/all.min.js")
        script(defer, src="/script.js")
    body
        header
            .header-logo
                h1
                    a(href="/")
                        span.city CITY
                        span.voice VOICE
                p#todayDate
        .container
            block content
        footer
            p Copyright &copy; CityVoice 2020